<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Visitekaartje</title>
    <link rel="stylesheet" href="/style.css" />
</html>
</head>

<body>
<!--------- FOOTER ---------->
<section class="section-footer">
    <footer>
        <h6>Volg Buurtcampus Oost op: </h6>
        <div class="flex-container-socials">
            <div>
                <a href="https://www.instagram.com/buurtcampus_oost/" target="_blank">  <img class="instagram-icon"src="assets/socials/instagram.png" alt=""> </a>
            </div>
            <div class=>
                <a href="https://www.facebook.com/buurtcampusoost/" target="_blank">  <img class="facebook-icon"src="assets/socials/facebook.png" alt=""> </a>
            </div>
            <div class=>
                <a href="https://twitter.com/buurtcampus/" target="_blank">  <img class="twitter-icon"src="assets/socials/twitter-sign.png" alt=""> </a>
            </div>
        </div>

        <div class="flex-container-footer">
            <div>
                <img class="footer-image" src="assets/footer.svg">
            </div>
            <div>
                <img class="footer-image" src="assets/footer.svg">
            </div>
        </div>

    </footer>
</section>


</body>