<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>PlantSwap</title>
    <link rel="stylesheet" href="/style.css"/>
</head>

<%- include('./partials/head.ejs') %>

<fieldset>
    <form class="upload-plant-form" action="/new" method="post">
        <h2>Nieuw stekje uploaden:</h2>

        <div>
            <label for="naam-stekje">Naam van stekje:</label>
            <input type="text" name="naam-stekje" id="naam-stekje" placeholder="..." value="<% locals.naam ?? '' %>" />
        </div>

        <div>
            <label for="landvanherkomst">Land van herkomst:</label>
            <input type="text" name="landvanherkomst" id="landvanherkomst" placeholder="..." value="<% locals.landvanherkomst ?? '' %>" />
        </div>

        <div>
            <label for="giftig">Giftig?:</label>
            <input type="text" name="giftig" id="giftig" placeholder="..." value="<% locals.giftig ?? '' %>" />
        </div>

        <div>
            <label for="verpotten">Verpotten?</label>
            <input type="text" name="verpotten" id="verpotten" placeholder="..." value="<% locals.verpotten %>" />
        </div>

        <div>
            <label for="voeding">Voeding?</label>
            <input type="text" name="voeding" id="voeding" placeholder="..." value="<% locals.voeding %>" />
        </div>

        <div>
            <label for="upload-image">Upload een foto van het stekje</label>
            <input type="file" name="upload-image" id="upload-image" value="<% locals.fotos ?? '' %>" />
        </div>

        <div>
            <label for="description-plant">Beschrijving van het stekje:</label>
            <textarea input type="text" name="description-plant" rows="2" cols="50"><%= locals.beschrijving ?? '' %></textarea>
        </div>
        <input type="submit" value="Opslaan" />
    </form>
</fieldset>
<%- include('./partials/foot.ejs') %>


<!--LINK TO JS FILE -->
<script src="/index.js"></script>