<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>PlantSwap</title>
    <link rel="stylesheet" href="/style.css"/>
</head>

<body>
<%- include('./partials/head') %>

<main>
    <section id="live-stream">
        <h1>CONTACT</h1>
    </section>
</main>


<%- include('./partials/foot') %>
</body>

<!--LINK TO JS FILE -->
<script src="/index.js"></script>