*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    /* COLORS */
    --green: #4E7141; /*158467*/
    --broken-white: #EEF2E6;
    --purple-blue: #333568;
    --orange: #f26f20;
    --white: #fff;
    --dark-white: #ddd;
    --grey: #f6f7f9;
    --black: #000000;

    /* FONT SIZES*/
    --xs-small: 1rem;
    --small: 1.2rem;
    --medium: 1.5rem;
    --large: 2.5rem;
}

html, body {
    height: 100%;
    scroll-behavior: smooth;

}

body {
    background-color: var(--grey);
    margin: 0;
    border-box: box-sizing;
    font-family: 'Arial', serif;
    overflow-x: hidden;
}

/* ------------------ SECTION NAV-BAR ------------------*/
.topnav {
    overflow: hidden;
    background-color: var(--green);
}

.topnav a {
    float: left;
    display: block;
    color: var(--white);
    text-align: center;
    padding-top: 1.5em;
    padding-bottom: 1em;
    padding-left: 2em;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    color: var(--white);
    font-weight: bold;
}

.topnav a.active-navbar {
    background-color: var(--green);
    color: var(--white);
    font-weight: bold;
}

.topnav .icon {
    display: none;
    padding-right: 1.5em;
}

@media screen and (max-width: 1080px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 1080px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

.logo-navbar {
    width: 7rem;
    float: right;
    padding-top: 1em;
    padding-right: 2em;
}

@media screen and (max-width: 1080px) {
    .logo-navbar {
        display: none;
    }
}

/* ---------------- SECTION 1 INTRO ---------------- */
h1 {
    color: var(--purple-blue);
    font-weight: 800;
    font-size: var(--large);
}

.arrow {
    position: relative;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid var(--orange);
    left: 18%;
    top: 23%;
}

#intro {
    width: 100%;
    height: 1100px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('/assets/steks.jpg');
    /*background-color: rgba(255, 255, 255, 0.8);*/
    background-blend-mode: multiply;
    background-size: cover;
}

#intro h1 {
    width: 500px;
}

#intro p {
    width: 500px;
}

.flex-wrapper-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10rem;
    padding-right: 25rem;
}

/* ---------------- SECTION 2 HOW IT WORKS---------------- */
#how-it-works {
    position: relative;
    background-color: #f6f7f9;
}

h3 {
    color: var(--purple-blue);
    font-size: var(--medium);

}

#how-it-works p {
    width: 300px;

}

.custom-shape-divider-top-1678751409 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1678751409 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 132px;
}

.custom-shape-divider-top-1678751409 .shape-fill {
    fill: #4E7141;
}

.flex-container-how-it-works {
    display: flex;
    flex-direction: row;
    padding-top: 15rem;
    justify-content: center;
    align-items: center;
    gap: 15rem;
}

.flex-wrapper-how-1, .flex-wrapper-how-2, .flex-wrapper-how-3 {
    position: relative;
    display: flex;
    flex-direction: column;
    /*padding-right: 25rem;*/
}

#how-it-works a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8rem;
    font-size: var(--medium);
    font-weight: bold;
    color: var(--purple-blue);
    text-decoration: none;
}

/* ---------------- SECTION 4 AVAILABLE STEKJES ---------------- */
h4 {
    font-size: var(--xs-small);
    text-align: center;
    color: var(--white);
}



#available-stekjes {
    background-color: var(--green);
    display: flex;
    flex-direction: row;
    margin-top: 12rem;
    padding-bottom: 5rem;
    padding-left: 5rem;
    overflow-x: scroll;

}

.flex-wrapper-cards div {
    outline: solid 3px var(--white);
    border-radius: 10px;
    width: 300px;
    height: 350px;
    margin-top: 5em;
    margin-right: 5em;
}

.flex-wrapper-stekjes img {
    width: 300px;
    height: 350px;
    background-size: cover;
}


/* ---------------- SECTION 5 CONTACT ---------------- */
#contact {
    background-color: var(--grey);
    height: 200px;
    margin-top: 12rem;
}


/* ------------------ SECTION 1 KIJK LIVE MEE ------------------ */
/*#section1 {*/
/*    position: relative;*/
/*    background-color: var(--white);*/
/*    height: 800px;*/
/*}*/

/*.wrapper-livestream {*/
/*    padding-left: 1rem;*/
/*    position: relative;*/
/*    display: grid;*/
/*    grid-template-columns: 2fr 1fr;*/
/*    grid-row-gap: 1em;;*/
/*    grid-column-gap: 1em;*/
/*    z-index: 1;*/
/*}*/

/*.responsive-livestream {*/
/*    height: 500px;*/
/*    position: relative;*/
/*    overflow: hidden;*/
/*    width: 100%;*/
/*    padding-top: 1em;*/
/*}*/

/*@media only screen and (max-width: 767px) {*/
/*    .wrapper-livestream {*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        flex-flow: wrap-reverse;*/
/*    }*/

/*    .responsive-livestream {*/
/*        margin-top: 10em;*/
/*    }*/
/*}*/

/*@media screen and (max-width: 1080px) {*/
/*    .responsive-livestream {*/
/*        height: 400px;*/
/*    }*/
/*}*/

/*.responsive-iframe-livestream {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    bottom: 0;*/
/*    right: 0;*/
/*    width: 90%;*/
/*    height: 100%;*/
/*    padding-top: 1em;*/
/*    padding-left: 1em;*/
/*    border: none;*/
/*}*/

/*.par-watch-live {*/
/*    grid-column: 2/2;*/
/*    grid-row: 1/1;*/
/*    padding-right: 2em;*/
/*}*/

/*h1 {*/
/*    color: var(--purple-blue);*/
/*    font-weight: 800;*/
/*    font-size: var(--large);*/
/*    text-align: left;*/

/*}*/

/*@media only screen and (max-width: 767px) {*/
/*    .par-watch-live {*/
/*        padding-top: 1em;*/
/*        padding-bottom: 2em;*/
/*        padding-left: 1.3em;*/
/*    }*/

/*}*/

/*@media screen and (max-width: 1080px) {*/

/*    .par-watch-live {*/
/*        height: 120px;*/
/*        width: 300px;*/
/*    }*/

/*    h1 {*/
/*        font-size: var(--medium);*/
/*    }*/

/*    p {*/
/*        font-size: var(--xs-small);*/
/*    }*/
/*}*/




/* ------------------ FOOTER ------------------ */
.section-footer {
    background-color: var(--green);
    width: 100vw;
}

h6 {
    font-size: var(--small);
    color: var(--white);
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1.5em;
    margin: 0;
}

.flex-container-socials {
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding-left: 2em;
}

.flex-container-socials img {
    width: 2em;
}

@media screen and (max-width: 1080px) {
    h6 {
        color: var(--white);
        font-size: var(--xs-small);
    }

    .flex-container-socials img {
        width: 1.5em;
    }
}

.flex-container-footer {
    display: flex;
    flex-direction: row;
}

flex-container-footer img {
    width: 100%;
}

@media screen and (max-width: 1080px) {
    .flex-container-footer img {
        width: 100%;
    }
}





#contact{
    height: 50rem;
}


/* ------------------- TEST PAGE TRANSITION ------------------- */
/*.box {*/
/*    position: absolute;*/
/*    background-color: var(--white);*/
/*    visibility: hidden;*/
/*    z-index: 1;*/
/*    height: 1100px;*/
/*    width: 1000px;*/
/*    overflow: hidden;*/
/*    border-radius: 10px;*/
/*    border: 5px solid var(--purple-blue);*/

/*}*/

/*.anim{*/
/*    animation: move ease-in 1.5s forwards;*/
/*}*/


/*@keyframes move {*/
/*    0% {*/
/*        transform: translateY(1000px);*/
/*        visibility: visible;*/

/*    }*/
/*    100% {*/
/*        transform: translateY(-500px);*/
/*        visibility: visible;*/

/*    }*/
/*}*/